Table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

div {
  margin-bottom: 20px;
}

th {
  min-width: 138px;
  text-align: left;
}

th:hover {
  cursor: pointer;
}

.tablesContainer {
  display: grid;
  justify-content: center;
}
